.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: cadetblue;
    border-radius: 10px;
    border: none;
    transition: all 0.8s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(122, 185, 187);
}